html{
    font-family: sans-serif;
}
.navcontainer{
    
    width: 100%;
    display: flex;   
    align-items: center;
   
  
}
.navcontainer .logo{
    margin-top: -3px;
    max-width: none;
    width: 108px;
    padding-left: 100px;
}
.navcontainer .logo img{
    margin-top: -3px;
    max-width: none;
    width: 108px;
}
.navcontainer .navitems{
    
    display: flex;
    padding-left: 16px;
   
   
    
}
.navcontainer .navitem{
    padding: 16px 8px 10px;
    display: flex;
    align-items: center;
    font-size: 13px;
   
    
}
.navcontainer .navright{
  
    display: flex;
   
    float: right;
    position: absolute;
    right: 50px;
}
.navcontainer .navitem img{
   
    width: 20px;
    height: 20px;
    padding-left: 8px;
   
}
.navcontainer .navitem i{
   
    width: 20px;
    height: 20px;
    padding-left: 3px;
   
}
.addicon{
    width: 20px;
    height: 20px;
    padding-left: 5px;
}
.bodycontainer{
    position: relative;
  text-align: center;
  color: white;

}
.text{
    position: absolute;
    top: 50%;
    left: 350px;
    transform: translate(-50%, -50%);
}
.bodycontainer .intro{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bodycontainer .intro img{
    width:100%;
}
.bodycontainer .intro .text{
    width:465px;
}
.bodycontainer .intro .text h1{
    text-align: left;
    font-size: 37px;
    font-weight: 600;
}
.bodycontainer .intro .text .link{
    height: 40px;
    width:200px;
    text-align: left;
    padding-left: 10px;
    background-color:#0067b8;
    align-items: center;
    border-radius: 2px;
}
.bodycontainer .intro .text .link p{
   
    padding-top: 8px; 
    font-weight: 600;
   
}


.bodycontainer .intro .text .link a{
    text-decoration: none;
    color: white;
}
table th, td{
    border: 2px solid black;
}
#table{
    display: none;
}
.navitem button{
    border: none;
    background: none;
}